<div class="base-header anon-header anon-header-white language-en static-background" id="hd">
  <div class="container-fluid">
    <div class="navbar-header" routerLink="{{'/'}}" style="cursor: pointer">
      <img src="../../assets/images/logo.png" alt="Home" width="140" height="50">
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="{{'/'}}">Home</a></li>
      <li><a routerLink="{{'/subject'}}">Subject</a></li>
      <li><a routerLink="{{'/class'}}">Class</a></li>
      <li><a routerLink="{{'/result'}}">Result</a></li>
      <li *ngIf="IdRole==1"><a routerLink="{{'/account'}}">Account</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li style="cursor: pointer" *ngIf="!username" id="loginClick" data-toggle="modal" data-target="#loginRoute"><a><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
      <li>
        <div style="border: 2px solid #ffffff; border-radius: 100%;"><div class="avatar-frame"><img alt="Log Out" id="image2" src="../../assets/images/images.jpg"></div></div>
        <ul *ngIf="username" class="dropdown">
          <div>
          <li routerLink="{{'/'}}"> {{username}} </li>
          <li (click)="logout()">Log out</li>
          </div>
        </ul>
      </li>
    </ul>
  </div>
</div>
<app-login></app-login>
<br><br><br>
<script>
  window.onscroll = function () { myFunction() };

  var navbar = document.getElementById("hd");
  var sticky = navbar.offsetTop;

  function myFunction() {
    if (window.pageYOffset > sticky) {
      navbar.classList.add("scroll-sticky")
    } else {
      navbar.classList.remove("scroll-sticky");
    }
  }
</script>
