<section class="main-content flex-1">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Credits</th>
      <th *ngIf="IdRole == 1 || IdRole == 2">Show Question</th>
      <th>Details</th>
    </tr>
    </thead>
    <tbody *ngFor="let subject of classOfAccount">
    <tr routerLink="{{'/TestDetail/Class/'+subject.idAccount_Subject.idSubject._id}}">
      <td>{{subject.idAccount_Subject.idSubject.name}}</td>
      <td>{{subject.idAccount_Subject.idSubject.credits}}</td>
      <td *ngIf="IdRole == 1 || IdRole == 2"><a routerLink="{{'/Question/Subject/'+subject.idAccount_Subject.idSubject._id}}" style="cursor: pointer"><i class="fas fa-th-list"></i></a></td>
      <td><a style="cursor: pointer"><i class="fas fa-file-signature"></i></a></td>
    </tr>
    </tbody>
  </table>
</section>
